<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debugger.launcher2">
    <listAttribute key="2218898293163965662.viewid=2">
        <listEntry value="g_tcbs[0]"/>
        <listEntry value="child_tid"/>
    </listAttribute>
    <mapAttribute key="2218898293163965662.viewid=2.ExpressionsData">
        <mapEntry key="0" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,28;NODE_TYPE,VALUE;FORMATTER,com.arm.debug.views.common.outline.DefaultDataFormatter"/>
        <mapEntry key="1" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,1;NODE_TYPE,VALUE;FORMATTER,Character"/>
    </mapAttribute>
    <stringAttribute key="2218898293163965662.viewid=2:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;187&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;90&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;45&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;41&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;50&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;37&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;62&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;53&#9;-1&#9;true"/>
    <mapAttribute key="AverageDurationTracker">
        <mapEntry key="*Fetching Data Model" value="465662"/>
        <mapEntry key="*list global low level symbols" value="958367"/>
        <mapEntry key="*loading memory from target" value="5758716"/>
        <mapEntry key="*loading values from target" value="2052626"/>
        <mapEntry key="*updating expressions" value="10895308"/>
        <mapEntry key="*updating registers" value="101521537"/>
        <mapEntry key="*updating variables" value="380587"/>
        <mapEntry key="AddEventObserver" value="4089796"/>
        <mapEntry key="Evaluate" value="821667"/>
        <mapEntry key="ListRegimeWarningsCommand" value="271200"/>
        <mapEntry key="Retrieving globals list" value="2251208"/>
        <mapEntry key="areCachesAvailable" value="230076"/>
        <mapEntry key="break" value="9855330"/>
        <mapEntry key="compute execution mode" value="261642"/>
        <mapEntry key="continue" value="7336478"/>
        <mapEntry key="core" value="5486897"/>
        <mapEntry key="disable" value="3300561"/>
        <mapEntry key="disassemble" value="61839538"/>
        <mapEntry key="evaluate address" value="1066683"/>
        <mapEntry key="finish" value="14093596"/>
        <mapEntry key="get byte order" value="208268"/>
        <mapEntry key="get capabilities" value="118903"/>
        <mapEntry key="get execution addresss" value="398936"/>
        <mapEntry key="get source lines" value="187459"/>
        <mapEntry key="getValidEncodings" value="189897"/>
        <mapEntry key="initialize command help" value="57590338"/>
        <mapEntry key="interrupt" value="24954691"/>
        <mapEntry key="list breakpoint options" value="75642"/>
        <mapEntry key="list breakpoints" value="645010"/>
        <mapEntry key="list instruction sets" value="225703"/>
        <mapEntry key="list signals" value="6905959"/>
        <mapEntry key="list translations" value="723400"/>
        <mapEntry key="list watchpoint options" value="767369"/>
        <mapEntry key="list watchpoints" value="283782"/>
        <mapEntry key="loadfile" value="282126796"/>
        <mapEntry key="next" value="28195209"/>
        <mapEntry key="nexti" value="34638050"/>
        <mapEntry key="read memory map" value="110071800"/>
        <mapEntry key="reload-symbol-file" value="46552144"/>
        <mapEntry key="remove" value="9223833"/>
        <mapEntry key="set CWD" value="1443847"/>
        <mapEntry key="set breakpoint properties" value="14103817"/>
        <mapEntry key="set debug-from" value="421249"/>
        <mapEntry key="source altera_target_check.py" value="300370973"/>
        <mapEntry key="start" value="102870898"/>
        <mapEntry key="step" value="35860842"/>
        <mapEntry key="toggleBreakpoint" value="11981282"/>
        <mapEntry key="updateBreakpointLocation" value="15527929"/>
        <mapEntry key="updating MMU tables" value="603993"/>
        <mapEntry key="waitForTargetToStop" value="19274930"/>
        <mapEntry key="write memory" value="10809820"/>
    </mapAttribute>
    <intAttribute key="DEBUG_TAB..RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.CONNECT_TO_GDB_SERVER.RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.DEBUG_EXISTING_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_ANDROID"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_APP"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.TYPE" value="APPLICATION_ON_TARGET"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.COUNT" value="2"/>
    <listAttribute key="FILES.DOWNLOAD_AND_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.COUNT" value="3"/>
    <listAttribute key="FILES.DOWNLOAD_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.COUNT" value="3"/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.ICE_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.VALUE" value="${workspace_loc:/RTX/Debug/RTX.axf}"/>
    <intAttribute key="FILES.ICE_DEBUG.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.COUNT" value="1"/>
    <stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="ICE_DEBUG"/>
    <stringAttribute key="HOST_WORKING_DIR" value="${workspace_loc}"/>
    <booleanAttribute key="HOST_WORKING_DIR_USE_DEFAULT" value="true"/>
    <booleanAttribute key="InstructionStepping" value="false"/>
    <booleanAttribute key="KEY_COMMANDS_AFTER_CONNECT" value="false"/>
    <stringAttribute key="KEY_COMMANDS_AFTER_CONNECT_TEXT" value=""/>
    <booleanAttribute key="KEY_COMMANDS_AS_CONNECT" value="false"/>
    <booleanAttribute key="RSE_USE_HOSTNAME" value="true"/>
    <stringAttribute key="TCP_DISABLE_EXTENDED_MODE" value="true"/>
    <booleanAttribute key="TCP_KILL_ON_EXIT" value="false"/>
    <listAttribute key="TREE_NODE_PROPERTIES:2218898293163965662.viewid=2">
        <listEntry value="NODE CACHE VERSION 1"/>
        <listEntry value="EXPRESSION_GROUP:Expressions:VALUE:g_tcbs[0]:VALUE:(g_tcbs[0]).prio"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="Unsigned Decimal"/>
        <listEntry value="EXPRESSION_GROUP:Expressions:VALUE:g_tcbs[0]:VALUE:(g_tcbs[0]).state"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="Unsigned Decimal"/>
    </listAttribute>
    <listAttribute key="TREE_NODE_PROPERTIES:debugger.view.VariableTreeView">
        <listEntry value="NODE CACHE VERSION 1"/>
        <listEntry value="LOCALS:Locals:VALUE:N:/ece350w21-lab-ca9-prototype/lab4/RT/src/board/DE1_SoC_A9/interrupt.c::config_interrupt::value"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="Hexadecimal"/>
        <listEntry value="LOCALS:Locals:VALUE:N:/ece350w21-lab-ca9-prototype/lab4/RT/src/board/DE1_SoC_A9/interrupt.c::config_interrupt::address"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="Hexadecimal"/>
        <listEntry value="LOCALS:Locals:VALUE:N:/ece350w21-lab-ca9-prototype/lab4/RT/src/board/DE1_SoC_A9/printf.c::tfp_printf::fmt"/>
        <listEntry value="2"/>
        <listEntry value="formatter"/>
        <listEntry value="Hexadecimal"/>
        <listEntry value="element formatter"/>
        <listEntry value="Character"/>
        <listEntry value="LOCALS:Locals:VALUE:P:/350/Lab2/RTX/src/kernel/k_task.c::k_tsk_create_new::tid"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="Unsigned Decimal"/>
        <listEntry value="LOCALS:Locals:VALUE:P:/350/Lab2/RTX/src/kernel/k_task.c::k_tsk_create_new::p_tcb:VALUE:P:/350/Lab2/RTX/src/kernel/k_task.c::k_tsk_create_new::p_tcb-&gt;prio"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="Unsigned Decimal"/>
        <listEntry value="LOCALS:Locals:VALUE:P:/350/Lab2/RTX/src/kernel/k_task.c::k_tsk_create::p_tcb:VALUE:P:/350/Lab2/RTX/src/kernel/k_task.c::k_tsk_create::p_tcb-&gt;prio"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="Unsigned Decimal"/>
        <listEntry value="LOCALS:Locals:VALUE:P:/350/Lab2/RTX/src/kernel/k_task.c::k_tsk_create::task"/>
        <listEntry value="1"/>
        <listEntry value="element formatter"/>
        <listEntry value="Character"/>
        <listEntry value="LOCALS:Locals:VALUE:P:/350/gitlab/group28-lab/RTX/src/kernel/k_task.c::k_tsk_create::p_tcb:VALUE:P:/350/gitlab/group28-lab/RTX/src/kernel/k_task.c::k_tsk_create::p_tcb-&gt;stack_size"/>
        <listEntry value="1"/>
        <listEntry value="formatter"/>
        <listEntry value="Hexadecimal"/>
    </listAttribute>
    <booleanAttribute key="VFS_ENABLED" value="true"/>
    <stringAttribute key="VFS_LOCAL_DIR" value="${workspace_loc}"/>
    <stringAttribute key="VFS_REMOTE_MOUNT" value="/writeable"/>
    <stringAttribute key="breakpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;breakpoints order=&quot;ALPHA&quot;&gt;&#10;&lt;/breakpoints&gt;&#10;"/>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.addresses">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value=""/>
        <listEntry value="0XFF001014"/>
        <listEntry value="arm_timer_set_prescaler"/>
        <listEntry value="arm_timer_disable"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.ranges">
        <listEntry value="100"/>
        <listEntry value=""/>
        <listEntry value="100"/>
        <listEntry value="100"/>
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.MemoryView.addresses">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value=""/>
        <listEntry value="0x0012E080"/>
        <listEntry value="0x12DEE4"/>
        <listEntry value="0x12e0eb"/>
        <listEntry value="0x12b3c0"/>
        <listEntry value="0x12b3cc"/>
        <listEntry value="0x12b3a8"/>
        <listEntry value="0x12b3a0"/>
        <listEntry value="0x12b3e0"/>
        <listEntry value="0x12b3d8"/>
        <listEntry value="0x12b3e8"/>
        <listEntry value="0x12b3d0"/>
        <listEntry value="0x12b3b0"/>
        <listEntry value="0x12b398"/>
        <listEntry value="0x12b390"/>
        <listEntry value="0x12b358"/>
        <listEntry value="0x12b360"/>
        <listEntry value="0xFFFED300"/>
        <listEntry value="0xFFFED380"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.MemoryView.ranges">
        <listEntry value="1024"/>
        <listEntry value=""/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
    </listAttribute>
    <stringAttribute key="config_db_activity_name" value="Debug Cortex-A9_0"/>
    <stringAttribute key="config_db_connection_keys" value="rvi_address target_initialization_script dtsl_config dtsl_tracecapture_option dtsl_config_script config_file setup TCP_KILL_ON_EXIT TCP_DISABLE_EXTENDED_MODE"/>
    <stringAttribute key="config_db_connection_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_platform_name" value="Intel SoC FPGA - Cyclone V SoC (Dual Core)"/>
    <stringAttribute key="config_db_project_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_project_type_id" value="BARE_METAL"/>
    <stringAttribute key="config_db_taxonomy_id" value="/platform/intelsocfpga/cyclonevsoc_dualcore_"/>
    <stringAttribute key="config_file" value="CDB://../Arria V SoC/Altera_DEV5XS1.rvc"/>
    <booleanAttribute key="connectOnly" value="false"/>
    <stringAttribute key="connection_type" value="USB-Blaster"/>
    <listAttribute key="debugger.view.DisassemblyView:current">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="debugger.view.DisassemblyView:current:2728379637699411568.viewid=2">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="debugger.view.DisassemblyView:current:3375346116383003196.viewid=2">
        <listEntry value=""/>
        <listEntry value=""/>
    </listAttribute>
    <listAttribute key="debugger.view.DisassemblyView:current:4470448639065973654.viewid=4">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="debugger.view.DisassemblyView:current:8581874436178048151.viewid=2">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="debugger.view.ExpressionsView">
        <listEntry value="size"/>
        <listEntry value="queue[100].next"/>
    </listAttribute>
    <mapAttribute key="debugger.view.ExpressionsView.ExpressionsData">
        <mapEntry key="0" value="NODE_TRANSFER_ELEMENT_COUNT,0;NODE_TRANSFER_ELEMENT_SIZE_IN_BYTES,4;NODE_TYPE,VALUE;FORMATTER,Unsigned Decimal"/>
        <mapEntry key="1" value=""/>
    </mapAttribute>
    <stringAttribute key="debugger.view.ExpressionsView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;187&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;90&#9;-1&#9;true&#9;2&#9;true&#9;false&#9;88&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;41&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;50&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;37&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;62&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;53&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.MMUView:DebugOutlineColumnState" value="OutlineConfig1&#9;5&#9;0&#9;true&#9;false&#9;16&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;90&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;100&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;41&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;347&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.MemoryView" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;page&gt;&#10;&#9;&lt;memoryView/&gt;&#10;&lt;/page&gt;&#10;"/>
    <listAttribute key="debugger.view.MemoryView:current">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="1024"/>
    </listAttribute>
    <stringAttribute key="debugger.view.NewRegisterView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;108&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;109&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;135&#9;-1&#9;true&#9;3&#9;false&#9;true&#9;47&#9;-1&#9;true&#9;4&#9;false&#9;true&#9;56&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;37&#9;-1&#9;true&#9;6&#9;false&#9;true&#9;74&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;53&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.NewRegisterView:_selectedRegisterSet" value="All registers"/>
    <mapAttribute key="debugger.view.NewRegisterView_registerSets"/>
    <stringAttribute key="debugger.view.VariableTreeView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;149&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;109&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;95&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;41&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;50&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;37&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;62&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;53&#9;-1&#9;true"/>
    <listAttribute key="debugger.view.VariableTreeView:USER_ADDED_FILE_STATICS"/>
    <listAttribute key="debugger.view.VariableTreeView:USER_ADDED_GLOBALS"/>
    <booleanAttribute key="debugger.view.expression.DrawAsHex" value="false"/>
    <booleanAttribute key="debugger.view.register.DrawAsHex" value="false"/>
    <booleanAttribute key="debugger.view.variable.DrawAsHex" value="false"/>
    <stringAttribute key="dtsl_config" value="USBBlaster_DtslScript"/>
    <stringAttribute key="dtsl_config_script" value="CDB://../Arria V SoC/dtsl_config_script.py"/>
    <stringAttribute key="dtsl_options_file" value="default"/>
    <stringAttribute key="dtsl_tracecapture_option" value="options.traceBuffer.traceCapture"/>
    <stringAttribute key="launch_configuration_version" value="2020.0"/>
    <booleanAttribute key="linuxOS" value="false"/>
    <stringAttribute key="rddi_type" value="rddi-debug-rvi"/>
    <booleanAttribute key="runAfterConnect" value="false"/>
    <stringAttribute key="rvi_address" value="DE-SoC on localhost [USB-1]:DE-SoC USB-1"/>
    <mapAttribute key="scripts_view_script_links">
        <mapEntry key="C:\Program Files\Arm\Development Studio 2020.0\sw\debugger\configdb\Scripts\altera_target_check.py" value=""/>
    </mapAttribute>
    <listAttribute key="setup">
        <listEntry value="CDB://../../../Scripts/altera_debug_server.py"/>
        <listEntry value="CDB://rddi-dap_cfg-altera.txt rddi-dap_altera"/>
    </listAttribute>
    <booleanAttribute key="single_platform" value="true"/>
    <stringAttribute key="stopAtExpression" value="*$ENTRYPOINT"/>
    <stringAttribute key="target_initialization_script" value="CDB://../../../Scripts/altera_target_check.py"/>
    <stringAttribute key="watchpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;watchpoints&gt;&#10;&lt;/watchpoints&gt;&#10;"/>
</launchConfiguration>
